/* overview section start */

.overview-container {
  width: 100%;
  height: auto;
  padding: 4% 0 10% 0;
}

.img-container {
  text-align: center;
  overflow: hidden;
}

.img-container img {
  max-width: 100%;
}

.description-container {
  text-transform: capitalize;
}

.pagepath-container {
  padding: 3% 0 5% 0;
}

.page-path a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.7rem;
  color: var(--head-color);
}

.page-path {
  font-size: 1.7rem;
  color: var(--head-color);
}

.product-title {
  padding: 0 0 3% 0;
}

.product-title h4 {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
}

.product-price {
  padding: 0 0 3% 0;
}

.product-price h5 {
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.quantity {
  width: 20%;
  outline: none;
  border: 0.1rem solid #c6c6c6;
  color: var(--head-color);
  padding: 1.2rem 1.2rem 1.2rem 1.4rem;
}

.product_description {
  padding: 3% 0;
  text-align: justify;
}

.product_description p {
  line-height: 1.5;
  color: var(--para-color);
  text-transform: capitalize;
}

/* overview section end */
